/**
 * Blog
 * */
.blog-post-preview {
  & > * {
    margin-bottom: 1rem;
  }
}

.blog-post-body {
  // letter-spacing: -0.01em;
  // font-size: 1.2rem;

  // Medium font
  // font-family: charter;

  h1,
  h2,
  h3,
  h4 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  pre {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  code.language-text {
    // From github :)
    font-size: 85%;
    background-color: rgba(174, 184, 193, 0.2);
    border-radius: 6px;
    padding: 0.2em 0.4em;
    text-shadow: none;
    color: black;
  }

  p {
    line-height: 1.8rem;
  }
}
