$color-primary-0: #d59ec3; // Main Primary color */
$color-primary-1: #d7becf;
$color-primary-2: #d7b1ca;
$color-primary-3: #c978af;
$color-primary-4: #be599d;

$lavender-1: #9d9dc9; // Main Secondary color (1) */
$lavender-2: #b8b8cd;
$lavender-3: #aeaecc;
$lavender-4: #7b7bba;
$lavender-5: #5f5fae;

$primary-0: #333676; // Main Primary color */
$primary-1: #7f81b1;
$primary-2: #226666;
$primary-3: #191c59;
$primary-4: #080b3b;

a {
  color: $primary-2;
  text-decoration: underline;
  &:hover {
    opacity: 0.8;
  }
}

a.brand-link {
  color: black;
  &:hover,
  &:visited {
    opacity: 1;
  }
}

h1,
h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
